<div class="top-home">
  <div class="title-home">
    <h1>Veqan / Vegeterian Reseptləri</h1>
    <h2>Platforma Azərbaycanda yaşayan veqan/vegetarianların bir-birlərinə dəstək olmaları, 
bildikləri xüsusi yemək reseptlərini paylaşmaları və əl-ələ verərək daha gözəl bir cəmiyyət yaratmaları üçün nəzərdə tutulmuşdur.</h2>
    <p></p>
    {{#if loggedIn}}
    <a class="btn btn-outline-info" href="/recipe/create">Resept Əlavə Et</a>
    {{else}}
    <a class="btn btn-outline-danger" href="/auth/signup">Qeydiyyatdan Keç</a>
    {{/if}}
  </div>
</div>
<br>
<div class="title">
  <h1>Ən məşhur 10 resept</h1>
</div>
<div class="flex-container">
  {{#each recipes}}
  <div class="each-recipe">
    <a href="recipe/{{_id}}">
      <img src="{{image}}">
      <p>{{title}} | &#9829; {{likes}}</p>
    </a>
  </div>
  {{/each}}
</div>
